- extends "template.haml"
- block section "login"
- block content
  .login
    %h2 Login
    %form(method="post")
      .field
        %label(for="username") Username
        %input(type="text" name="username" placeholder="kindhearted-squid" required)

      .field
        %label(for="password") Password
        %input(type="password" name="password" placeholder="********" required)

      %input(type="hidden" name="redirect" value="#{redirect}")
      %input(type="submit" value="Login")
      #{csrf_field()}
  .register
    %h2 Register
    %form(method="post" action="/register")
      .field
        %label(for="username") Username
        %input(type="text" name="username" placeholder="envious-fowl" required)

      .field
        %label(for="username") Email
        %input(type="text" name="email" placeholder="envious.fowl@aol.com" required)

      .field
        %label(for="password") Password
        %input(type="password" name="password" placeholder="*********" required)

      %input(type="hidden" name="redirect" value="#{redirect}")
      %input(type="submit" value="Register")
      #{csrf_field()}
