- extends "template.haml"
-block content
  %h2 Welcome
  %p
    Jolt is a service which helps volunteers effectively promote causes they care about.
  %p
    %a(href="/login") Login
    to see your active campaigns. If you don't have an account, click the signup link you were sent.
